flujos_n8n_y_promts/FlujoTelegramYSub-Flujos-N8N/Creador_articulos/flujo_creador_articulos_adaptado.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2b7f286-b602-4b11-8157-782ddb7bf52c",
              "name": "mensaje_usuario",
              "type": "string",
              "value": "={{ $json.body.topic || 'Hola' }}"
            },
            {
              "id": "d12171cb-e619-4c1e-aa08-657183f14387",
              "name": "authorId",
              "type": "string",
              "value": "={{ $json.body.authorId || 'default-author-id' }}"
            },
            {
              "id": "c5119035-9a64-4bed-8d53-c53ae1162ee3",
              "name": "id_sesion",
              "type": "string",
              "value": "={{ $json.body.conversacion_id || 'session_' + Date.now() }}"
            },
            {
              "id": "fa9c5e32-67d2-4be7-b7e4-dd15f90b4c7c",
              "name": "id_autor",
              "value": "={{ $json.body.authorId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Datos de Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        352
      ],
      "id": "52c98f13-8f4a-4ba7-bf3a-5ead01b60cfb"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Modelo Chat Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1296,
        640
      ],
      "id": "9a51f2a7-48e0-4bf0-afe5-80870b522d74",
      "credentials": {
        "googlePalmApi": {
          "id": "afEdUlo465aPlyDq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extraer Datos de Entrada').item.json.id_sesion }}",
        "tableName": "articulos_chat"
      },
      "name": "Memoria del Chat en Postgres",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1120,
        640
      ],
      "id": "2ca91e92-ebb9-4099-a769-43ddd1df66e4",
      "credentials": {
        "postgres": {
          "id": "SQbjeiNAyY3q7eu9",
          "name": "Postgrest Me Llevo Esto"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje_usuario }}",
        "options": {
          "systemMessage": "=# ASISTENTE EXPERTO CREADOR DE ARTÍCULOS - MODO CONVERSACIONAL\n\n## Tu Identidad\nEres un asistente IA experto en **copywriting y SEO**. Tu objetivo es conversar con el usuario para entender sus necesidades y luego generar un artículo **altamente persuasivo y vendedor** en formato JSON.\nUsas la herramienta `SerpAPI` para investigar a la competencia y la herramienta `CrearImagenesParaBlog` para generar imágenes que conecten emocionalmente con el lector.\nTe comunicas de manera amigable y profesional, usando expresiones como 'parcero', 'hermano', o 'mi bro', para generar confianza y motivar al usuario con su tienda MELLEVOESTO.COM.\n\n## Contexto de Sesión\n- ID Sesión: {{ $json.id_sesion || 'default' }}\n- Mensaje Usuario: {{ $json.mensaje_usuario }}\n\n## REGLAS ESTRICTAS DE OPERACIÓN\n\n### FASE 1: CONVERSACIÓN (Modo por defecto)\n1.  **Inicio**: Saluda amistosamente y pregunta sobre qué tema quiere escribir, enfocándote en el **dolor o necesidad** que resuelve el producto/tema.\n2.  **Recopilación**: Haz preguntas estratégicas para entender al público objetivo, el ángulo de venta y las palabras clave.\n3.  **Análisis y Propuesta**: Una vez tengas la información, analiza el tema y propón un número de imágenes que consideres necesarias para que el artículo sea visualmente atractivo y efectivo. Ejemplo: \"¡Listo, parcero! Para un artículo sobre 'X', creo que con unas 3 imágenes bien potentes quedamos listos. ¿Te parece bien?\".\n4.  **Transición**: Si el usuario confirma, anuncia que empezarás a crear las imágenes.\n\n### FASE 2: CREACIÓN DE IMÁGENES (Uso de Herramienta)\n1.  **Activación**: Se activa después de que el usuario confirma la creación de imágenes.\n2.  **Llamada a Herramienta**: Llama a la herramienta `CrearImagenesParaBlog` UNA VEZ POR CADA IMAGEN que propusiste y el usuario aceptó.\n3.  **Parámetros de la Herramienta**:\n    - `DeQueTrataElArticulo`: El tema principal del artículo.\n    - `PromtParaCrearLaImagen`: Un prompt **en español, detallado y evocador**, que describa una escena o concepto relacionado con la sección del artículo donde irá la imagen. Debe ser único para cada imagen. (Ej: \"Primer plano de una persona sonriendo mientras desempaca un producto de MELLEVOESTO.COM, con una iluminación cálida y hogareña\").\n    - `NombreParaLaImagen`: Un nombre de archivo único y descriptivo (slug + número).\n4.  **Recopilación de URLs**: Guarda las URLs de Supabase y anuncia el progreso.\n\n### FASE 3: GENERACIÓN DE ARTÍCULO (Respuesta Final)\n1.  **Activación**: Se activa cuando tienes todas las URLs de las imágenes.\n2.  **Respuesta Final**: Tu respuesta debe ser EXCLUSIVAMENTE: `***ARTICULO_LISTO***` seguido del objeto JSON completo.\n3.  **¡REGLA CRÍTICA!**: El JSON debe ser puro, sin markdown ni comentarios.\n4.  **Integración de Imágenes**: Usa la **primera imagen** para `portada_url` y `og_imagen_url`. Distribuye las demás en las `secciones` del artículo.\n5.  **Contenido Vendedor**: El texto de los párrafos y encabezados debe ser persuasivo, usando técnicas de copywriting para enganchar al lector y llevarlo a la acción.\n\n## ESTRUCTURA JSON REQUERIDA\n{\n  \"slug\": \"slug-del-articulo-en-minusculas-y-separado-por-guiones\",\n  \"titulo\": \"Título Magnético y Optimizado para SEO\",\n  \"autor\": \"Equipo MeLlevoEsto\",\n  \"autor_iniciales\": \"JG\",\n  \"lectura_min\": \"Un número entero que represente los minutos de lectura\",\n  \"calificacion\": \"Un número decimal entre 4.5 y 5.0, generado aleatoriamente\",\n  \"autor_id\": \"{{ $json.id_autor }}\",\n  \"portada_url\": \"URL_DE_SUPABASE_DE_LA_PRIMERA_IMAGEN_GENERADA\",\n  \"resumen_breve\": \"Un resumen corto y persuasivo del artículo (máximo 150 caracteres).\",\n  \"resumen_completo\": \"Un resumen más detallado que genere curiosidad (máximo 300 caracteres).\",\n  \"secciones\": [\n    { \"tipo\": \"encabezado\", \"nivel\": 2, \"contenido\": \"Subtítulo que Ataca un Punto de Dolor\" },\n    { \"tipo\": \"parrafo\", \"contenido\": \"Párrafo que empatiza con el lector y presenta el problema...\" },\n    { \"tipo\": \"imagen\", \"url\": \"URL_DE_SUPABASE_DE_LA_SEGUNDA_IMAGEN\", \"alt\": \"Descripción detallada y optimizada para SEO de la imagen 2\" },\n    { \"tipo\": \"encabezado\", \"nivel\": 2, \"contenido\": \"Subtítulo que Ofrece una Solución\" },\n    { \"tipo\": \"parrafo\", \"contenido\": \"Párrafo que presenta la solución de forma irresistible...\" },\n    { \"tipo\": \"imagen\", \"url\": \"URL_DE_SUPABASE_DE_LA_TERCERA_IMAGEN\", \"alt\": \"Descripción detallada y optimizada para SEO de la imagen 3\" }\n  ],\n  \"cta\": {\n    \"texto_boton\": \"Llamado a la acción claro y directo (Ej: 'Comprar Ahora')\",\n    \"url\": \"URL a la que dirigirá el botón (Ej: '/productos')\",\n    \"subtexto\": \"Subtexto que genere urgencia o confianza (Ej: '¡Últimas unidades!')\"\n  },\n  \"estado_publicacion\": \"publicado\",\n  \"meta_titulo\": \"Meta Título para SEO (máximo 60 caracteres)\",\n  \"meta_descripcion\": \"Meta Descripción para SEO (máximo 155 caracteres)\",\n  \"meta_keywords\": \"keyword1, keyword2, keyword3, keyword4, keyword5\",\n  \"canonical_url\": \"URL canónica completa del artículo (Ej: https://mellevoesto.com/blog/slug-del-articulo)\",\n  \"og_titulo\": \"Título para Open Graph (debe ser casi idéntico al meta_titulo)\",\n  \"og_descripcion\": \"Descripción para Open Graph (debe ser casi idéntica a la meta_descripcion)\",\n  \"og_imagen_url\": \"USA_LA_MISMA_URL_QUE_PORTADA_URL\",\n  \"twitter_card\": \"summary_large_image\"\n}"
        }
      },
      "name": "Agente IA Conversacional",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -880,
        352
      ],
      "id": "ea333a7d-bec9-4a7e-976a-119d7faa3da1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "articulo-listo-check",
              "leftValue": "={{ $('Agente IA Conversacional').item.json.output }}",
              "rightValue": "***ARTICULO_LISTO***",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "¿Es Artículo Completo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -528,
        352
      ],
      "id": "ed77b63e-e08c-4ace-8ab4-9402af7678a5"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.first().json.output || '';\nconst marker = '***ARTICULO_LISTO***';\nconst jsonStart = rawOutput.indexOf(marker);\n\nif (jsonStart === -1) {\n  return { json: { error: 'Marcador ***ARTICULO_LISTO*** no encontrado.' } };\n}\n\nconst jsonString = rawOutput.substring(jsonStart + marker.length).trim();\n\ntry {\n  const articleJson = JSON.parse(jsonString);\n  return { json: { articulo_generado: articleJson } };\n} catch (error) { \n  return { json: { error: 'Error al parsear el JSON del artículo.', details: error.message, raw: jsonString } };\n}"
      },
      "name": "Procesar JSON del Artículo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        192
      ],
      "id": "87ba10e3-e8a0-446e-b793-8bdbb045dc6f"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Responder con Artículo Generado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        192
      ],
      "id": "b3082f07-3c41-4dde-adf7-42e0f9286c58"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"tipo\": \"conversacion\", \"respuesta_agente\": $('Agente IA Conversacional').item.json.output } }}",
        "options": {}
      },
      "name": "Responder con Mensaje de Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -256,
        560
      ],
      "id": "a0a71227-30d5-49fd-b5d4-cd5a967c1aed"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat_creador_articulos",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Conversacional1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1376,
        352
      ],
      "id": "9871b6ad-f060-4715-9133-3df03d2c6c70",
      "webhookId": "a9b3a5e4-3f33-4b6e-8e97-941a533f0d5a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -992,
        640
      ],
      "id": "4972a486-ce27-4b57-95e5-6c0cc65c733f",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "8eVV36Lq9ymfrIE3",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "description": "Tu funcione es crear las imagenes del articulo que el usuario esta pidiendo ayuda! Debes crear maximo 3 imagenes por articulo para cada seccion!",
        "workflowId": {
          "__rl": true,
          "value": "z00Ozcpd9ebDl9Zx",
          "mode": "list",
          "cachedResultUrl": "/workflow/z00Ozcpd9ebDl9Zx",
          "cachedResultName": "Creador_Imagenes_Articulos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "PromtParaCrearLaImagen": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PromtParaCrearLaImagen', `Las imagenes todas deben ser completamente en español, deben llamar la atencion del usuario y contener banners y cosas asi par apoyar las imagenes, todo muy realista.\nNo utilices caracteres raros para generar las imagenes ni signos de exclamacion, ni arteriscos ni caracteres raros.`, 'string') }}",
            "NombreParaLaImagen": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NombreParaLaImagen', `En cada peticion siempre usa un nombre diferente sin signos raros ni cosas raras por favor`, 'string') }}",
            "DeQueTrataElArticulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DeQueTrataElArticulo', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PromtParaCrearLaImagen",
              "displayName": "PromtParaCrearLaImagen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "NombreParaLaImagen",
              "displayName": "NombreParaLaImagen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "DeQueTrataElArticulo",
              "displayName": "DeQueTrataElArticulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -784,
        640
      ],
      "id": "84d33d7e-a705-4596-8120-9d91f017c9af",
      "name": "CrearImagenesParaBlog"
    }
  ],
  "connections": {
    "Extraer Datos de Entrada": {
      "main": [
        [
          {
            "node": "Agente IA Conversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Chat Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA Conversacional",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria del Chat en Postgres": {
      "ai_memory": [
        [
          {
            "node": "Agente IA Conversacional",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA Conversacional": {
      "main": [
        [
          {
            "node": "¿Es Artículo Completo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Artículo Completo?": {
      "main": [
        [
          {
            "node": "Procesar JSON del Artículo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder con Mensaje de Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar JSON del Artículo": {
      "main": [
        [
          {
            "node": "Responder con Artículo Generado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Conversacional1": {
      "main": [
        [
          {
            "node": "Extraer Datos de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CrearImagenesParaBlog": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Conversacional",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8000b702e0a3d9ac6d70099a2751603316de4028cd14af0949776a26efecb219"
  }
}