flujos_n8n_y_promts/FlujoTelegramYSub-Flujos-N8N/Creador_articulos/tool_creador_imagenes.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "PromtParaCrearLaImagen"
            },
            {
              "name": "NombreParaLaImagen"
            },
            {
              "name": "DeQueTrataElArticulo"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 21f46ed9-0225-40f6-9ffc-25661e559c38:851595cba3c58067fd73c650a492aeb7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"prompt\": \"{{ $json.PromtParaCrearLaImagen }}\",\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        352
      ],
      "id": "cf4adcc2-0a81-4aec-8342-42958ce6487e",
      "name": "Crear Imagen1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        352
      ],
      "id": "efa574f3-27b4-42a5-ab2d-0ac18adcf387",
      "name": "10 Segundos1",
      "webhookId": "caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        400
      ],
      "id": "b629a1bf-c5e6-43df-a17a-da7d3558963d",
      "name": "5 Segundos1",
      "webhookId": "5f6bbd1e-a155-48de-b737-a225c6fd7a84"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 21f46ed9-0225-40f6-9ffc-25661e559c38:851595cba3c58067fd73c650a492aeb7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        352
      ],
      "id": "4076acfa-d135-4da7-949b-1a7e09456775",
      "name": "Obtener Resultado1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        224
      ],
      "id": "3b694d45-9fa9-44c2-b014-8b287d2728e1",
      "name": "Descargar Imagen1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rrmafdbxvimmvcerwguy.supabase.co/storage/v1/object/imagenes_articulos/{{ $('When Executed by Another Workflow').item.json.nombre_para_la_nueva_imagen }}.jpg",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        224
      ],
      "id": "c594a7d3-2590-4e59-a403-0a6b8ff31c8b",
      "name": "Subir a Supabase3",
      "credentials": {
        "supabaseApi": {
          "id": "W8gqsCw5s1YHm5SZ",
          "name": "Supabase Me LLEVO ESTO"
        }
      }
    },
    {
      "parameters": {
        "responseBody": "={{ { \"url_imagen_generada\": \"https://rrmafdbxvimmvcerwguy.supabase.co/storage/v1/object/public/imagenes_articulos/\" + $('When Executed by Another Workflow').item.json.nombre_para_la_nueva_imagen + \".jpg\" } }}",
        "options": {}
      },
      "id": "3f6e1f3a-3433-4a6f-b88c-f3a1fde3314e",
      "name": "Responder con URL de la Imagen",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1792,
        224
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Crear Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Imagen1": {
      "main": [
        [
          {
            "node": "10 Segundos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Segundos1": {
      "main": [
        [
          {
            "node": "Obtener Resultado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Segundos1": {
      "main": [
        [
          {
            "node": "Obtener Resultado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Resultado1": {
      "main": [
        [
          {
            "node": "Descargar Imagen1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5 Segundos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen1": {
      "main": [
        [
          {
            "node": "Subir a Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Supabase3": {
      "main": [
        [
          {
            "node": "Responder con URL de la Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8000b702e0a3d9ac6d70099a2751603316de4028cd14af0949776a26efecb219"
  }
}